/*
	-------------------------------------------------------------------------------------------------------------------------------------------------------
	- SASS variables																																	  -
	-------------------------------------------------------------------------------------------------------------------------------------------------------
*/
$whiteTextColor: #fff;
$zeroUnit: 0;
$allTheLefts: left;
$allTheRights: right;
$fullWidth: 100%;
$tabTransitionAnimation: opacity 1.5s ease-in;
$sliderBgColorNormalMode: #D3D3D3;
$tabHoverBgColorNormalModel: #EEE;
$sliderBgColorForMedia: #A9A9A9;